.root {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.animation {
  position: absolute;
  width: 100vw;
  max-width: 400px;
}
.completeText {
  color: var(--gray-color-gray080_text, #1b1d1f);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: calc(min(100vw, 400px) * 0.8);
}
.detailText {
  color: var(--gray-color-gray050_text, #4b5259);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
}
