.recent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 64px;
  height: 64px;
  padding: 0 20px;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.recent:hover,
.recent:focus,
.recent:active {
  background: var(--gray-color-gray010, #efeff2);
}

.recent > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.recentButton {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  text-align: left;
  color: black;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.recentRight {
  display: flex;
  gap: 10px;
  align-items: center;
}

.recentRight > span {
  color: var(--gray-color-gray030_text, #9fa4a9);
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  word-wrap: break-word;
  white-space: nowrap;
}
