.root {
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.header {
    padding: 16px 0;
}

.header > h1 {
    margin: 0;
    color: var(--gray-color-gray080_text, #1b1d1f);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.024px;
}

.price {
    display: flex;
    justify-content: space-between;
    gap:10px;
    
}

.price > button {
    width: 100px;
    height: 44px;
    padding: 8px 31px;
    border-radius: 62px;
    border: 2px solid var(--gray-color-gray020_border, #C8CBD1);
    color: var(--gray-color-gray080_text, #1B1D1F);
    background-color: #fefefe;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    cursor:pointer;
}

.price > .activeButton {
    background-color: #ffefef;
    border-color:#fa4549 ;
   
}

.priceTypeInf{
    color: var(--gray-color-gray080_text, #1B1D1F);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.priceTypeInf > div{
    display: flex;
}

.priceTypeInf > div > a {
width: 320px ;
height: 109px;
}
.footer {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.footer > a {
    color: var(--gray-color-gray030_text, #9fa4a9);
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
}

.footer > button {
    width: 100%;
    height: 48px;
}