.footer > button {
  width: 100%;
  height: 48px;
}

.btn {
  background: var(--primary-color-primary_default, #fa4549);
  color: var(--grayscale-white, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  height: 48px;
  width: 100%;
  cursor: pointer;
}

.btn:focus,
.btn:active {
  background: var(--primary-color-primary_pressed, #ff2d2a);
}

.btn.round {
  border-radius: 8px;
}

.btn:disabled {
  background: var(--gray-color-gray020_border, #c8cbd1);
  cursor: not-allowed;
}
