.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  flex: 0 1 content;
}

.body {
  flex: 1 1 auto;
}

.body.padded {
  padding-bottom: 64px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  flex: 0 0 content;
}
