.root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header {
  margin: 44px 20px 58px 20px;
}

.header > h1 {
  margin: 0;
  color: var(--gray-color-gray080_text, #1b1d1f);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.024px;
}

.genderBtnContainer {
  display: flex;
  gap: 10px;
}

.blank {
  height: 100%;
}
