.root{
  display: flex;
  flex-direction: column;
  font-family: Pretendard;
  > img{
    width:360px;
    height: 240px;
  }
}

h4{
  margin: 0;
}
.body{
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap:10px;
}
.address{
  color: var(--gray-color-gray050_text, #4B5259);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.priceContainer{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap:5px
}

.priceType{
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--gray-color-gray100, #00000A);
  background-color: #Fff;
}

.priceInf{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px; 
}

.titleCtn{
  display: flex;
  justify-content: space-between;
}

.infCtn{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blank{
  height: 30px;
}

.map{
  width: 360px;
  height: 200px;
}

.TagCtn{
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.tag {
  justify-content: center;
  border-radius: 500px;
  padding: 6px 12px;
  border: 1px solid var(--gray-color-gray100, #00000A);
  background: var(--gray-color-gray080_text, #1B1D1F);
  color: var(--gray-color-white, #FFF);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.furnitureCtn{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.furniture{
  display: flex;
  width: 72px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--gray-color-gray050_text, #4B5259);
  color: var(--gray-color-gray050_text, #4B5259);
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  box-sizing:border-box;
}

.directCtn{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  
}

.directCtn > input{
  margin-top: 20px;
  width: 320px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--gray-color-gray030_text, #9FA4A9);
  background: var(--gray-color-white, #FFF);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; 
  padding-left: 16px;
  box-sizing: border-box;
}

::placeholder{
  color: black;
}

.ContractCtn > h4{
  margin: 30px 0 20px 0;
}

.reviewTextCtn > textarea {
  margin-top: 20px;
  width: 320px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--gray-color-gray030_text, #9FA4A9);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; 
  padding: 12px 0 0 12px;
  box-sizing: border-box;
  font-family: Pretendard;
}

.moreViewCtn{
  display: flex;
  flex-direction: column;
}

.moreViewBtn{
  color:#fa4549;
}

