.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 20px;
}

.title {
  color: var(--gray-color-gray080_text, #1b1d1f);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
}

.optionContainer {
  margin: 0 20px 36px 20px;
}
