.root {
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.label {
  color: var(--gray-color-gray050_text, #4b5259);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.stars {
  display: flex;
  gap: 8px;
}
