.root {
  display: flex;
  flex-direction: column;
}

.highlightContainer {
  padding: 0 20px;
  margin-bottom: 20px;
}

.highlightContainer > h1 {
  margin: 0 0 15px 0;
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
}

.highlightContainer > div {
  display: flex;
  flex-direction: row;
  gap: 12px 8px;
  flex-wrap: wrap;
}

.content {
  padding: 48px 0 80px 0;
}

.checkListGroupContainer {
  padding: 0 20px;
}

.menu {
  position: sticky;
  top: 56px;
}
