.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.caption {
  color: var(--gray-color-gray050_text, #4b5259);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.textBox {
  width: 100%;
  display: flex;
  align-items: center;
}

.textBox > input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  caret-color: var(--primary-color-primary_default, #fa4549);
}

.textBox > button {
  width: 32px;
  height: 32px;
}

/* underline style */

.textBox.underline {
  height: 48px;
  border: none;
  border-bottom: 2px #9fa4a9 solid;
}

.textBox.underline > input {
  color: var(--gray-color-gray080_text, #1b1d1f);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.018px;
}

.textBox.underline > input::placeholder {
  color: var(--gray-color-gray030_text, #9fa4a9);
}

/* roundedBox style */

.textBox.roundedBox {
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--gray-color-gray020_border, #c8cbd1);
  padding: 0 8px;
  box-sizing: border-box;
}

.textBox.roundedBox > input {
  color: var(--gray-color-gray080_text, #1b1d1f);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
