.root {
  display: flex;
  width: 100%;
  height: 120px;
  padding: 0px 20px;
  box-sizing: border-box;
  &:hover {
    background: var(--gray-color-gray010, #efeff2);
    cursor: pointer;
  }
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}
.propertyImg {
  border-radius: 8px;
  width: 120px;
  height: 96px;
  object-fit: cover;
  position: relative;
}

.heartBtn {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 6px;
  right: 0px;
  padding: 0;

  width: 32px;
  height: 32px;
}
.listBtn {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 9px;
  right: -4px;
  padding: 0;

  width: 32px;
  height: 32px;
}

.price {
  display: flex;
  color: var(--gray-color-gray080_text, #1b1d1f);

  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  width: 100%;
}

.address {
  display: inline;
  color: var(--gray-color-gray050_text, #4b5259);

  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.property {
  color: var(--gray-color-gray050_text, #4b5259);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.tag {
  display: flex;
  height: 20px;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid var(--gray-color-gray020_border, #c8cbd1);
  color: var(--gray-color-gray050_text, #4b5259);
  text-align: center;

  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.detail {
  gap: 12px;
  position: relative;
  height: 96px;
}
