.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  height: 56px;
  box-sizing: border-box;
  background-color: var(--gray-color-gray000, #ffffff);
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 100;
}

.titleContainer > span {
  color: var(--gray-color-gray080_text, #1b1d1f);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
}

.btnContainer {
  min-width: 32px;
  display: flex;
  align-items: center;
  gap: 14px;
  z-index: 101;
}

.shareBtn {
  width: 20px;
  height: 20px;
  z-index: 101;
}
