.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 12px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: var(--gray-color-gray000, #ffffff);
}

.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  padding: 0;
  width: 100%;

  color: var(--gray-color-gray050_text, #4b5259);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.menuBtn.selected {
  color: var(--gray-color-gray080_text, #1b1d1f);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-color-primary_default, #fa4549);
}
