.TagCtn {
  display: flex;
  gap: 8px;
  margin: 0 20px 10px 20px;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  justify-content: center;
  border-radius: 500px;
  padding: 6px 12px;
  border: 1px solid var(--gray-color-gray100, #00000a);
  background: var(--gray-color-gray080_text, #1b1d1f);
  color: var(--gray-color-white, #fff);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

.optionsCtn {
  margin: 0 20px;
}
