.container {
  position: relative;
  height: 70px;
}

.slider {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  pointer-events: none;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: url('../../assets/img/common/slider_thumb.svg') center center
      no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    pointer-events: auto;
  }
}

.sliderBackground {
  background: var(--gray-color-gray020_border, #c8cbd1);
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.sliderForeground {
  background: var(--gray-color-gray050_text, #4b5259);
  height: 4px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.label {
  position: absolute;
  top: 50%;
  color: var(--gray-color-gray050_text, #4b5259);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.marker {
  position: absolute;
  top: 50%;
  transform: translate(-50%, 4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
}

.markerLine {
  width: 1px;
  height: 12px;
  background: #c8cbd1;
}

.markerText {
  color: var(--gray-color-gray030_text, #9fa4a9);
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
}
