@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.imgBtn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.top {
  position: sticky;
  top: 0;
  z-index: 100;
}

.swiper-pagination-fraction {
  color: var(--gray-color-white, #fff);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  left: calc(50% - 32px);
}

.swiper-pagination-horizontal {
  width: 64px;
  height: 24px;
  background: var(--gray-color-gray100, #00000a);
  flex-shrink: 0;
  border-radius: 39px;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Swiper_modal_swiper2__DoMtk > .swiper-wrapper > .swiper-slide {
  opacity: 0.4;
}

.swiper > .swiper-wrapper > .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-next {
  background: url(./assets//img//navigation/next.svg) no-repeat;
  background-position: center;
  color: #fff;
  width: 40px;
}
.swiper-button-prev {
  background: url(./assets//img//navigation/prev.svg) no-repeat;
  background-position: center;
  color: #fff;
  width: 40px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
