@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.imgBtn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.top {
  position: sticky;
  top: 0;
  z-index: 100;
}

.scroll::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
}

.scroll::-webkit-scrollbar-thumb {
  height: 35px; /* 스크롤바의 길이 */
  background: #d6cac9; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.scroll ::-webkit-scrollbar-track {
  background: transparent; /*스크롤바 뒷 배경 색상*/
}

.swiper-pagination-fraction {
  color: var(--gray-color-white, #fff);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  left: calc(50% - 32px);
}

.swiper-pagination-horizontal {
  width: 64px;
  height: 24px;
  background: var(--gray-color-gray100, #00000a);
  flex-shrink: 0;
  border-radius: 39px;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
