.container {
  z-index: 1001;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 36px 36px 42px 36px;
  width: 90%;
  max-width: 300px;
  min-height: 180px;
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.title {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.description {
  color: var(--gray-color-gray050_text, #4b5259);
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.buttonContainer {
  position: absolute;
  bottom: 16px;
  left: 0;
  height: 36px;
  width: 100%;
  padding: 0 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 12px;
}

.button {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.button:only-child {
  width: 120px;
}

.secondary {
  background: none;
}

.secondary:focus,
.secondary:active {
  background: var(--gray-color-gray010, #efeff2);
}

.primary {
  background: var(--primary-color-primary_default, #fa4549);
  color: white;
}

.primary:focus,
.primary:active {
  background: var(--primary-color-primary_pressed, #ff2d2a);
}
