.root {
  display: flex;
  flex-direction: column;
  font-family: Pretendard;
  > img {
    width: 360px;
    height: 240px;
  }
}

h4 {
  margin: 0;
}
.body {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}
.address {
  color: var(--gray-color-gray050_text, #4b5259);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.priceContainer {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 5px;
}

.priceType {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--gray-color-gray100, #00000a);
  background-color: #fff;
}

.priceInf {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
}

.titleCtn {
  display: flex;
  justify-content: space-between;
}

.infCtn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.map {
  width: 360px;
  height: 200px;
}

.TagCtn {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.tag {
  justify-content: center;
  border-radius: 500px;
  padding: 6px 12px;
  border: 1px solid var(--gray-color-gray100, #00000a);
  background: var(--gray-color-gray080_text, #1b1d1f);
  color: var(--gray-color-white, #fff);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.furnitureCtn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.furniture {
  display: flex;
  width: 72px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--gray-color-gray050_text, #4b5259);
  color: var(--gray-color-gray050_text, #4b5259);
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
}

.directCtn {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.directCtn > input {
  margin-top: 20px;
  width: 320px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--gray-color-gray030_text, #9fa4a9);
  background: var(--gray-color-white, #fff);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 16px;
  box-sizing: border-box;
}

.ContractCtn > h4 {
  margin: 30px 0 20px 0;
}

.reviewTextCtn > textarea {
  margin-top: 20px;
  width: 320px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--gray-color-gray030_text, #9fa4a9);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 0 0 12px;
  box-sizing: border-box;
  font-family: Pretendard;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.menu {
  position: sticky;
  top: 56px;
  z-index: 100;
}

.detailCtn {
  display: flex;
  > div {
    max-height: 100%;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
  }
  > .moreView {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  > button {
    background-color: #fff;
    border: none;
    color: #fa4549;
    writing-mode: horizontal-tb;
    white-space: nowrap;
    align-self: flex-end;
  }
}
